<h1>String reverse</h1>

<p>String reverse service.</p>

<form action="/reverse" method="post" accept-charset="utf-8">
	<input type="text" name="str" value="Type a string..." id="str">
	<input type="submit" value="reverse">
</form>
